.tag-health {
	background-color: #D0FD89;
	color: #49494F;
}

.tag-vegetable {
	background-color: #AEBC41;
	color: #fff;
}

.tag-meat {
	background-color: #B86B78;
	color: #fff;
}

.tag-fowl {
	background-color: #D68334;
	color: #fff;
}

.tag-fish {
	background-color: #CD6255;
	color: #fff;
}

.tag-childish {
	background-color: #FFFDBF;
	color: #49494F;
}

.tag-parents {
	background-color: #F6FDC8;
	color: #49494F;
}

.tag-holiday {
	background-color: #FEF7FE;
	color: #49494F;
}



